services:
  postgres:
    image: postgres:15
    container_name: dataflowx_postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: dataflowx_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  airflow-init:
    image: apache/airflow:2.8.1
    container_name: dataflowx_airflow_init
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true
      "

  airflow:
    image: apache/airflow:2.8.1
    container_name: dataflowx_airflow
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      minio:
        condition: service_started
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./contracts:/opt/airflow/contracts
      - ./great_expectations:/opt/airflow/great_expectations
    command: >
      bash -c "airflow webserver & airflow scheduler"

volumes:
  postgres_data:
  minio_data:

superset:
    image: apache/superset:3.0.0
    container_name: lakeforge_superset
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: "lakeforge_secret_key"
    volumes:
      - superset_home:/app/superset_home
    depends_on:
      - postgres
    command: >
      bash -c "
      superset db upgrade &&
      superset fab create-admin
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --email admin@lakeforge.io &&
      superset init &&
      superset run -p 8088 --with-threads --reload --debugger
      "

volumes:
  superset_home:

